#hoja-informes{
    background-color: white;
    border: 1px solid #eee;
    border-radius: 2px;
}
.tabla-detalle td{
    padding-top: 2px !important;
    padding-bottom:  2px !important;
}
@media print
{
    body, .wrapper, .content-wrapper{
        padding: 0;
        margin: 0;
    }
    #hoja-informes{
        border: none;
        padding: 0 !important;
        margin: 0 !important;
    }
}